.env
credentials/
*.tfstate
*.tfstate.*
.terraform/
.venv/
peers.auto.tfvars.json
**/peers.auto.tfvars.json
terraform.tfvars
dist/
*.zip
__pycache__/
*.pyc
.python_packages/
local.settings.json
/.idea/libraries/function.xml
/.idea/libraries/function2.xml
/.idea/libraries/function3.xml
/.idea/.gitignore
/.idea/aws-gcp-azure.iml
/.idea/go.imports.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
