.env
credentials/
*.tfstate
*.tfstate.*
.terraform/
.venv/
peers.auto.tfvars.json
terraform/terraform.tfvars
*.zip
build/
peers.auto.tfvars.json
__pycache__/
*.pyc
.python_packages/
local.settings.json
